<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/PetStoreAutomation/src/test/java/api/test">
        <classes>
<!--            <class name="api.test.DdTest">-->
<!--                <methods>-->
<!--                    <include name="testUser"/>-->
<!--                    <include name="testDeleteUserByName"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="api.test.UserTests">
<!--            <class name="api.test.UserTests2">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testGetUser"/>-->
<!--                    <include name="testupdateUser"/>-->
<!--                    <include name="testDeleteUser"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>